* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuerpo {
  overflow-x: hidden;
  max-width: auto;
}

.div-landing {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url(../Recursos/Landing.avif);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 56px);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.85);
}

#span-landing {
  font-size: 3rem !important;
  font-weight: bolder;
  font-style: italic;
  display: table;
  margin: 0 auto;
}

#restaurante-name {
  font-weight: 600;
  font-size: 5rem;
}

#restaurante-descripcion {
  font-weight: 500;
  font-size: 3rem;
}

.about {
  margin-top: 10vh;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-bottom: 20vh;
  padding: 5vh;
  border: 2px solid #000;
  text-align: center;
  box-shadow: 0 6px 10px black;
  background-image: url(../Recursos/azul.avif);
  background-size: cover;
  color: aliceblue;
  letter-spacing: 1px;
  line-height: 1.9;
}

.row {
  flex-wrap: wrap;
}

.columns img {
  width: 445px;
  height: 445px;
  padding: 8px;
  margin-top: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.columns img:hover {
  transform: scale(1.05);
  box-shadow: none;
}

.columns {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 768px) {
  .cuerpo {
    overflow-x: hidden !important;
    max-width: 100%;
  }
  .about {
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;
  }

  .div-landing {
    max-width: 100%;
  }

  #navbar {
    max-width: 100%;
  }

  .filas-flex {
    flex: 90%;
  }

  .columns img {
    max-width: 95%;
  }

  .columns {
    flex: 90%;
  }
}
